<div class="row">
    <div class="span6 offset3 login">
        <div id="login-form" class="well well-large">
            <form>
                <h1>Log in</h1>
                <div class="form-message form-message-hidden form-error">Sorry, your username or password is incorrect.</div>
                <div class="controls">
                    <input class="span3" type="email" name="email" placeholder="Your e-mail address" />
                </div>
                <div class="controls">
                    <input class="span3" type="password" name="password" placeholder="Your password" />
                </div>
                <button class="btn btn-primary">Log in</button>
            </form>
        </div>
    </div>
</div>