{{#if user.first_name}}
    <ul class="nav pull-right">
        <li><p class="navbar-text">Welcome, <span class="current-user">{{user.first_name}}</span></p></li>
        <li><a href="javascript:void(0);" class="logout">Log out</a></li>
    </ul>
{{else}}
    <ul class="nav pull-right">
        <li>
            <a href="#/signup">Sign Up</a>
        </li>
        <li>
            <a href="#/login">Log In</a>
        </li>
    </ul>
{{/if}}